@model NHiberCore.Core.Models.Room

<div class="row">
    <label>Room Details</label>
    <div class="form-group">
        <label for="nameRoomFld">Name</label>
        <input type="text" class="form-control" id="nameRoomFld" placeholder="Room name" value="@Model.Number">
    </div>
    <div class="form-group">
        <label for="descriptionRoomFld">Description</label>
        <input type="text" class="form-control" id="descriptionRoomFld" placeholder="Room description" value="@Model.Description">
    </div>
    <div class="form-group row">
        <button class="btn btn-primary" id="saveBtn">
            <span aria-hidden='true'>Save</span>
            @*<a asp-controller="Home" asp-action="Index">Save</a>*@
        </button>
        <a class="btn btn-primary" href="/" role="button" id="returnBtn">Go back</a>
        <button class="btn btn-primary" id="deleteBtn">Delete room</button>
    </div>
</div>

@section scripts
{
    <script>
        $("#saveBtn").click(function () {
            var nameRoom = $('#nameRoomFld').val();
            var descriptionRoom = $('#descriptionRoomFld').val();
            var roomIdValue = window.location.pathname.substr(window.location.pathname.lastIndexOf('/') + 1);

            $.ajax({
                type: "POST",
                url: '@Url.Action("SaveRoomChanges", "Home")',
                data: {
                    roomId: roomIdValue,
                    roomNumber: nameRoom,
                    description: descriptionRoom
                },
                success: function (result) {
                    window.location.href = location.origin + "/rooms/" + roomIdValue;
                },
                error: function (xhr, response, errorThrown) {
                    alert(response);
                }
            });
        });

        $("#deleteBtn").click(function () {
            var roomIdValue = window.location.pathname.substr(window.location.pathname.lastIndexOf('/') + 1);
            DeleteRoom(roomIdValue);
        });
        function DeleteRoom(roomId) {
            $.ajax({
                type: "DELETE",
                url: '@Url.Action("DeleteRoom", "Home")',
                data: {
                    id: roomId
                },
                success: function (result) {
                    alert('Room was successfully removed');
                    window.location.href = location.origin + "/rooms/";
                },
                error: function (xhr, response, errorThrown) {
                    alert(response);
                }
            });
        }
    </script>   
}